@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

/* Estilos Gerais */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nerko One", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0c0ce94d;
}

/* Container */
.container {
  width: 80%;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2rem;
  color: #6c63ff;
}

/*Estilos para o formulário */
.form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  width: 100%;
}

/*Grupo de inputs*/
.input-group {
  display: flex;
  flex-direction: column; /* Empilha inputs verticalmente dentro de cada grupo */
  gap: 1rem;
  flex: 1;
}

/*Mexendo nos inputs*/
.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  width: 100%;
}

/* Estilos para os inputs de texto */
.input-box input {
  margin: 0.6rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  width: 100%;
}

.input-box input:hover {
  /* Efeito hover nos inputs */
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  /* Estilo quando o input está focado */
  outline: 1px solid #6c63ff;
}

/* Links de navegação */
.nav-group {
  display: flex;
  gap: 1rem;
}

.nav-link {
  background-color: #6c63ff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #5a52d1;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    padding: 2rem;
  }

  .form {
    flex-direction: column;
    padding: 2rem;
  }

  .input-box {
    width: 100%; /* Ajusta a largura dos inputs para ocupar a tela inteira em dispositivos móveis */
  }
}
